@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";
* {
  outline: none;
  user-select: none;
}

.corner-scoop {
  corner-shape: scoop;
}

.jacquard-24-regular {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
}
